:root {
  --ff-primary: "Alegreya Sans", sans-serif;

  --clr-neutral-100: #f7f4ef;
  --clr-neutral-400: #c3c1bf;
  --clr-neutral-900: #171810;

  --clr-accent-200: #c09d75;
  --clr-accent-800: #0b3334;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* HEADER BANNER w IMG */

.headerBanner {
  background-image: url("media/Dreamside_00001.jpg");
  background-position: 40% 50%; 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.headerText {
  color: var(--clr-primary-900);
  letter-spacing: 0.2em;
  font-family: var(--ff-primary); 
  font-size: 2em; 
  font-style: italic; 
  font-weight: 400;
  text-align: center;
  padding-top: 2em; 
}

/* Title Section */

.titleSection {
  background-color: var(--clr-neutral-900);
  height: 100vh;
}

h1 {
  color: var(--clr-accent-200);
  font-family: var(--ff-primary);
  font-size: 3.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 0;
}

.subTitle {
  color: var(--clr-neutral-100);
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 1em;
}

.downArrow {
  color: var(--clr-neutral-100);
  text-align: center;
  font-size: 5em;
  margin-top: 1em;
}

/* Tan Background */

.tanBackground {
  background-color: var(--clr-accent-200);
}

.featuredPhoto {
  background-image: url(media/Dreamside_00005.jpg); 
  background-position: 74% 50%; ; 
  background-size: cover; 
  background-repeat: no-repeat; 
height: 60vh; 
}


/* About The Hive */

.aboutTheHive {
background-color: var(--clr-accent-800); 
min-height: fit-content; 
}

.aboutTheHive-title{
    color: var(--clr-accent-200); 
     font-size: 3.5em; 
     font-family: var(--ff-primary); 
     font-weight: 300; 
     letter-spacing: .1em; 
     line-height: 2em; 
     text-align: center; 
     padding-top: 15vh; 
}

.text-container{
  min-height: fit-content; 
  padding-bottom: 3em; 
}

.aboutTheHive-text{
    color: var(--clr-neutral-100); 
    font-family: var(--ff-primary);
    font-size: 1em; 
    padding: 1em; 
    padding-top: 2.5em; 
    text-align: center; 
    line-height: 1.5em; 
}


/* Light Section */

.theHive-light {
    background-color: var(--clr-accent-200); 
    height: 100vh; 

}

.light-section-text {
    font-family: var(--ff-primary); 
    font-size: 2em; 
    margin-left: 2%; 
    font-weight: 400; 
    text-transform: uppercase; 
}

.image-container-light{
    display: block;
    margin: 0 auto;  
background-image: url(media/Dreamside_00009.jpg); 
background-size: cover; 
max-width: 90%;
    height: 90%; 
}

/* Dark Section */

.theHive-dark {
    background-color: var(--clr-neutral-900); 
    height: 100vh; 

}



.image-container-dark{
    display: block;
    margin: 0 auto;  
background-image:url(media/Dreamside_00004.jpg); 
background-size: cover; 
max-width: 90%;
    height: 90%; 
}

.dark-section-text {
    font-family: var(--ff-primary); 
    font-size: 2em; 
    color: var(--clr-accent-200); 
    margin-right: 2%; 
    margin-bottom: 1%; 
    font-weight: 400; 
    text-transform: uppercase; 
    text-align: right; 
}

/* HOTEL FEATURES SECTION */

.featuresSection{
  background-color: var(--clr-accent-800); 
  display: flex; 
  min-height: fit-content;
  align-items: center; 
  justify-content: center; 
}

.featureImage{
  height: 50vh; 
  max-width: 30%;
}

/* CONTACT SECTION */

.contactSection {
  background-color: var(--clr-neutral-900); 
  min-height: fit-content; 
}


.messageBox{
width: 50%; 
}

.contactImage{
  max-width: 50%; 
}

/* FEATURE Section */

.hotelFeatures-section{
 min-height: fit-content; 
 max-width: 100%; 
  background-color: var(--clr-accent-800); 

}

.flex-container{
  min-height: fit-content; 
  max-width: 100%; 
   background-color: var(--clr-accent-800); 
   display: flex; 
 align-items: center; 
 justify-content: space-around; 
}

.featureImage-1, 
.featureImage-2, 
.featureImage-3{
  background-color: black; 
  border-radius: 5%;
  height: 50vh; 
 margin: 5%; 
}

.featureImage-1{
  background-image: url(media/Dreamside_00002.jpg); 
  background-size: cover; 
  max-width: 100%; 
}

.featureImage-2{
  background-image: url(media/Dreamside_00006.jpg); 
  background-size: cover; 
  background-position: 60% 50%; 
  max-width: 100%; 
}

.featureImage-3{
  background-image: url(media/Dreamside_00008.jpg); 
  background-size: cover; 
  background-position: 50% 50%; 
  max-width: 100%; 
}

.featureCaption{
  text-align: center; 
  color: var(--clr-accent-200); 
  font-family: var(--ff-primary); 
  font-weight: 100; 
  font-size: 1.5em; 
  margin: 5% 0; 
}


/* CONTACT SECTION */

.contactForm-title {
  color: var(--clr-neutral-400); 
  font-family: var(--ff-primary); 
  font-size: 2em;
padding: 2em; 
  margin: 1em; 
  text-align: center; 
}

.contactForm-textBox{
  padding: .5em; 
  margin: 1em; 
  border-radius: 10px; 
}

.contactForm-messageBox{
padding: 2em; 
height: 40%; 
width: 100%; 
margin: 1em; 
border-radius: 10px; 
}

.contactForm-submitButton{
padding: 1em; 
margin: 1em; 
border-radius: 10px; 

}

.contactSection-photo{
  height: 100vh; 
  background-image: url(media/Dreamside_00003.jpg); 
  background-size: cover; 
  background-position: 50% 50%; 
}

/* FOOTER SECTION */

.footerSection{
  height: 60vh; 
  background-color: var(--clr-neutral-400); 
}

.footerTitle{
  font-family: var(--ff-primary); 
  font-size: 2em; 
  text-align: center; 
  padding: 10vh 0;  
}

.socialButtons{
  text-align: center; 
}

.social-icon{
  font-size: 3em; 
  padding: .2em; 
}

.copyright{
  text-align: center; 
  font-family: var(--ff-primary); 
  padding-top: 5%; 
}


/* SPLIT rules */

.split {
  display: flex;
  flex-direction: column;
}

/* media query */
@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  /* for anything that has a sibling directly before it, so that the initial sibling isnt affected! */
  .split > * + * {
    margin-left: 2em;
  }
}
/* END OF SPLIT RULES */


@media screen and 